<div class="switch"
     [class.disabled]="isDisabled"
     [class.active]="isChecked"
     [class.inactive]="!isChecked" 
     (click)="emitSwitchChanged()">
    <span class="positive-text" [hidden]="!isChecked">{{ checkedLabelText | uppercase }}</span>
    <span class="negative-text" [hidden]="isChecked">{{ uncheckedLabelText | uppercase }}</span>
    <span class="switch-toggle" 
          [class.active]="isChecked"
          [class.inactive]="!isChecked"></span>
</div>
<input type="checkbox" [checked]="isChecked" [disabled]="isDisabled" />