<section>
    <header>
        <h2>User Details</h2>
        <h3>Settings</h3>
    </header>
    <form id="user-form" [formGroup]="formGroup">
        <fieldset id="settings" class="container">
            <label for="allow-sms-checkbox">SMS Notifications</label>
            <input id="allow-sms-checkbox" type="checkbox" formControlName="allowSMS" />
            <!-- <app-switch checkedLabelText="Yes" uncheckedLabelText="No"></app-switch> -->
            <label for="allow-email-checkbox">Email Notifications</label>
            <input id="allow-email-checkbox" type="checkbox" formControlName="allowEmail" />
            <!-- <app-switch checkedLabelText="Yes" uncheckedLabelText="No"></app-switch> -->
        </fieldset>
        <div id="buttons">
            <button (click)="enableDisableForm()">{{ enableText }}</button>
            <button (click)="updateSettings()">Submit</button>
        </div>
    </form>
    <section>
        <h3>Results</h3>
        <div id="setting-results" class="container">
            <div>SMS Notifications</div>
            <div>{{ settings.allowSMS | yesNo }}</div>
            <div>Email Notifications</div>
            <div>{{ settings.allowEmail | yesNo }}</div>
        </div>
    </section>
</section>